<html>
    <head>
        <title>Welcome to {{ virtualhost }}</title>
    </head>
    <body>
        <h1>Success! The {{ virtualhost }} server block is working!</h1>
        <p>This is a start page serving by nginx.
        <ul>
            <li>Link to API documentation: <a href="/doc">http://{{ virtualhost }}/doc</a></p>
            <li>Link to API endpoint: <a href="http://api.{{ virtualhost }}/v1">http://api.{{ virtualhost }}/v1</a></p>
        </ul>
    </body>
</html>
