server {
  listen {{ port_num }};
  server_name {{ virtualhost }} www.{{ virtualhost }};
  root /var/www/{{ virtualhost }}/html;
  index index.html index.htm;

  access_log /var/log/nginx/{{ virtualhost }}_access.log;
  error_log /var/log/nginx/{{ virtualhost }}_error.log;

  location /.well-known/acme-challenge {
    root /var/www/{{ virtualhost }}/html/letsencrypt;
    try_files $uri $uri/ =404;
  }
  
  location / {
    default_type "text/html";
    try_files $uri.html $uri $uri/ =404;
  }
}
server {
  listen {{ port_num }};
  server_name api.{{ virtualhost }} www.api.{{ virtualhost }};
  location / {
    proxy_pass http://localhost:8080;
  }
}
